*{
    margin:0;
    padding: 0;
    box-sizing: 0;
    text-align: center;
}

body{
    background-color:white;
}

.title{
    text-align: center;
    background-color: #1D2B53;
    color: white;
    height: 3rem;
    line-height: 50px;
}
.choices{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: #1D2B53;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 20px;
    margin-top: 3rem;
}
.user-score,.computer-score{
    font-size: 50px;
}
.msg-container{
    margin-top: 3rem;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.msg{
    background-color: #1D2B53;
    color: white;
    display: inline;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
